/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url('https://rsms.me/inter/inter.css');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #16a34a;
  --ifm-color-primary-dark: #149343;
  --ifm-color-primary-darker: #138b3f;
  --ifm-color-primary-darkest: #0f7234;
  --ifm-color-primary-light: #18b351;
  --ifm-color-primary-lighter: #19bb55;
  --ifm-color-primary-lightest: #1dd460;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: "Inter"
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #16a34a;
  --ifm-color-primary-dark: #149343;
  --ifm-color-primary-darker: #138b3f;
  --ifm-color-primary-darkest: #0f7234;
  --ifm-color-primary-light: #18b351;
  --ifm-color-primary-lighter: #19bb55;
  --ifm-color-primary-lightest: #1dd460;
}

.navbar__brand {
  margin-right: 0
}